@import url(../styles/colors.css);
@import url(../styles/fonts.css);

footer {
    min-height: 100px;
    margin-top: 0;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

address {
    display: flex;
    align-items: center;
    margin: 0;
}

address h4 {
    font-family: "Inter", sans-serif;
    font-weight: var(--medium-inter);
    font-size: 20px;
    color: var(--text-color);
    margin: 0;
    font-style: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}