@import url(../styles/colors.css);
@import url(../styles/fonts.css);

footer {
    height: 100px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
address {
    display: flex;
    align-items: center;
    margin: 0;
}
address h4 {
    font-family: inter;
    font-weight: var(--medium-inter);
    font-size: 20px;
    color: var(--text-color);
    margin: 0;
    font-style: normal;
}