@import url(header.css);
@import url(/src/partials/styles/fonts.css);

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
}

main{
    width: 90vw;
    height: 80vh;
    margin: 10px auto;
}

main > h1{
    text-align: center;
    font-size: 3.5em;
    margin: 10px;
}

main.card > p{
    text-align: center;
    font-size: 1.9em;
    margin: 10px;
    color: wheat;
}

b{
    font-family: "Knewave";
    color: rgb(219, 25, 25);
}

div.about{
    font-size: 1.9em;
    text-align: center;
}

.home a {
    border-bottom: none;
}

.about a {
    border-bottom: 1.5px solid white;
}