@import url(header.css);
@import url(footer.css);
@import url(/src/partials/styles/colors.css);

body {
    background-color: var(--bg-color);
}

main{
    width: 70%;
    margin: 5px auto;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 10px;
    margin-top: 40px;
}

button{
    width: 12%;
    margin-top: 30px;
}


.titulo-login{
    font-size: 40px;
    color: var(--text-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px !important;
}

.input-login{
    width: 320px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    transition: all 0.2s;
}

.input-login:focus{
    width: 370px;
}

.form-group{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: left;
}

label, .form-group small{
    color: var(--text-color) !important;
}

#senha{
    width: 320px;
}
.link-recuperar{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link-cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
}